# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend
backend/.env
backend/venv/
backend/myenv/
backend/__pycache__/

# Virtual environments
myenv/
venv/
.venv/

# General
.env
*.log
__pycache__/
*.pyc